# ==========================
# Python
# ==========================

venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.Python
.python-version

# ==========================
# Build
# ==========================

build/
dist/
*.spec
*.egg-info/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Arquivos temporários
# ==========================

estrutura.txt
app_backup*.py
ChatGPT Image*.png

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Sistema Operacional
# ==========================

Thumbs.db
.DS_Store

# ==========================
# Cache
# ==========================

.pytest_cache/
.mypy_cache/

# ==========================
# Dados locais
# ==========================

*.bak
*.tmp